h1 {
	color: black;
	font-size: 60px;
	text-align: center;
	text-decoration: underline;
}

body {
	background-color: blanchedalmond;
}

* {
	font-family: 'Courier New';
}

ul {
	font-size: 26px;
	text-align: center;
	list-style-position: inside;
}

h2 {
	text-align: center;
	font-size: 30px;
}

#link {
	text-decoration: none;
	color: black;
}

#link:hover {
	text-decoration: underline;
	text-decoration-color: red;
}
